<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>Simple Polylines</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <button id="cambiarLocacion">Cambiar Posicion</button>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of William
      // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
      // Brisbane, Australia.
	  var posicion = 0;
	  var arreglo = [[14.560866, -90.735314],[14.561583, -90.735324],[14.563660, -90.735318]];
	  var map;
	  var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: 14.5585707, lng: -90.72952299999997},
          mapTypeId: 'terrain'
        });
        
        var myLatLng = new google.maps.LatLng(14.560306, -90.735306);
        
        var objetoIda = [];
        var objetoRetorno = [];
        
        $.ajax({                        
            type: "GET",                 
            url: "/recorrido",                     
            success: function(data)             
               {
                console.log(data.ida);
                console.log(data.regreso);
                
                for (obj in data.ida)
            	{
//                 
					var point ={lat: parseFloat(data.ida[obj].latitud), lng: parseFloat(data.ida[obj].longitud)};
					objetoIda.push(point);
            	}
                for (obj in data.regreso)
            	{
//                 	var point =new google.maps.LatLng(parseFloat(data.ida[obj].latitud),parseFloat(data.ida[obj].longitud));
//                 	objeto2.push(point);
					var point ={lat: parseFloat(data.regreso[obj].latitud), lng: parseFloat(data.regreso[obj].longitud)};
					objetoRetorno.push(point);
            	}
                
                var flightPath = new google.maps.Polyline({
                    path: objetoIda,
                    strokeColor: '#2E2EFE',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                  });
                  flightPath.setMap(map);
                  
                  var flightPath = new google.maps.Polyline({
                      path: objetoRetorno,
                      strokeColor: '#FE642E',
                      strokeOpacity: 1.0,
                      strokeWeight: 2
                    });
                    flightPath.setMap(map);
               }
           });
        marker = new google.maps.Marker( {position: myLatLng, map: map} );
        for (arr in arreglo)
    	{
        	console.log(arreglo[arr]);
    	}
       
      }
      function moveBus( map, marker,posicion ) {
		  console.log(posicion);
          marker.setPosition( new google.maps.LatLng(posicion[0],posicion[1]) );
//           map.panTo( new google.maps.LatLng( 0, 0 ) );

      };
      $(document).ready(function() {
    	$('#cambiarLocacion').click(function() {
    		console.log(posicion);
    		moveBus( map, marker,arreglo[posicion] );
    		posicion=posicion+1;
    	});
      });
    </script>
    <script async="async" defer="defer" 
    th:src="@{https://maps.googleapis.com/maps/api/js(key=${'AIzaSyCp8swXDTQ7AKcQ4zFDfPu9bZeAMGdNvsY'},callback=initMap)}">
    </script>
  </body>
</html>